.card {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
}

.cor-1 {
    background-color: lightcoral;
}

.cor-2 {
    background-color: blueviolet;
}

.cor-3 {
    background-color: darkslategrey;
}

.botao {
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
}

.botao:hover {
    cursor: pointer;
    background-color: gainsboro;
}